@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf) ;
}

body {
    font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
    margin: 0;
}

@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/ROBOTO/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/ROBOTO/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Lato-Thin";
    src: url(../fonts/Lato/Lato-Thin.ttf);
}

p.hub {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    margin: 0;
}

p.hub strong {
    font-family: "Roboto-Bold",Arial, Helvetica, sans-serif;
}

h3.hub {
    font-family: "Lato-Bold",Arial, Helvetica, sans-serif;
}

h3.centre{
    font-family: "Lato-Bold",Arial, Helvetica, sans-serif;
}

p.pa {
    font-family: "Lato-Bold",Arial, Helvetica, sans-serif;
}

.nos {
    font-family: "Lato-Bold",Arial, Helvetica, sans-serif;
}

footer .pa {
    font-family: "Lato-Thin", Arial, Helvetica, sans-serif; ;
}

.stud a {
    font-family: "Lato-Thin", Arial, Helvetica, sans-serif;
}
/* HEADER */


.maclasse {
    background-color: rgb(18, 46, 62);
}

.navbar {
    padding: 3.5rem;
}


.nav-link {
    color: white;
}
.nav-link-active{
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(236, 209, 84);
    transition-duration: 0.2s;
}

.nav-link {
    padding: 0px;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
}


.navbar-expand-lg .navbar-nav .nav-item:not(:first-child) {
    border-left: 1px solid white;
}
nav.navbar.navbar-expand-lg.maclasse {
    padding: 0.5rem;
}

.container-fluid {
    padding-left: 10rem;
    padding-right: 5rem;
}

.container-fluid img {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

a.nav-link {
    font-size: 18px;
}
/* SECTION 2 */

.row {
    margin-top: 50px;
}
.entr {
    color: rgb(33, 37, 41);
}
p.hub strong {
    font-family: "Roboto-Bold";   
}

.plomb {
    font-size: 20px;
    color: rgb(18, 46, 62);
}

.hub {
    font-size: 15px;
    color:  rgb(18, 46, 62);
}

.col-4 {
    margin-top: 100px;
    padding-right: 60px;
    padding-left: 60px;
}

.col-4 h3 {
    font-size: 16px;
    color: rgb(18, 46, 62);
    margin-top: 50px;
}

.prendre {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(18, 46, 62);
    display: flex;
    justify-content: center;
    margin-right: 500px;
    margin-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
}

.aprt {
    margin-bottom: 0px;
}

.col-4.text-center.centre {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px
}

h3.centre {
    margin-top: 20px;
}

p.pa {
    font-size: small;
}

.voir {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(18, 46, 62);
    display: flex;
    justify-content: center;
    margin-right: 600px;
    margin-left: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
}

/* SECTION 3 */

.realisez {
    font-weight: bolder;
}

.nos {
    font-size: 16px;
    margin-top: 20px;
}

#realisez a{
    text-decoration: none;
    color: rgb(18, 46, 62);
    padding-right: 100px;
    padding-left: 100px;
}

#realisez a:hover{
    color: gold;
    transition-duration: 0.2s;
}

#realisez .info {
    padding-left: 0;
    padding-right: 0;
}

/* FOOTER */

footer .container {
    background-color: rgb(18, 46, 62);
    max-width: 100%;
}

footer .col-4 {
    color: white;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
}

footer .col-4 h2 {
    font-size: 16px;
    margin-top: 15px
}

footer .pa {
    font-size: 20px;
    font-weight: 300;
}

footer p {
    margin-bottom: 0;
}

footer .contact {
    padding-left: 20px;
    border-left: 1px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .col-4 img {
    width: 300px;
    margin-left: 100px;
}

footer .contact img{
    width: 30px;
    margin-left: 10px;
}

.stud {
    display: flex;
    justify-content: center;
}
.stud a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.stud p {
    color: white;
}

.stud a:hover {
    color: gold;
    transition-duration: 0.4s;
}

